.header {
  display: flex;
  max-height: 74px;
  padding: 18px 70px;
  justify-content: space-between;
}
.header_main {
  background-color: #073042;
}
.header_movie {
  display: flex;
  max-height: 74px;
  padding: 18px 70px;
  gap: 426px;
  background-color: #202020;
}
.header_login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 396px;
  max-height: 217px;
  background-color: #202020;
}
.header__logo {
  width: 38px;
  display: block;
}
.heder__title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
